name: screenshot & generate timeline GIF

on: 
  push:
  # Trigger being able to do a manual fresh build on the GitHub UI (?)
  workflow_dispatch:

jobs:
  screenshot:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8
      
      - name: Cache Next.js build
        uses: actions/cache@v4
        with:
          # See here for caching with `yarn`, `bun` or other package managers https://github.com/actions/cache/blob/main/examples.md or you can leverage caching with actions/setup-node https://github.com/actions/setup-node
          path: |
            ~/.pnpm-store
            ${{ github.workspace }}/${{ vars.ACTIVE_VERSION }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles(format('{0}/pnpm-lock.yaml', vars.ACTIVE_VERSION)) }}-${{ hashFiles(format('{0}/**/*.js', vars.ACTIVE_VERSION), format('{0}/**/*.jsx', vars.ACTIVE_VERSION), format('{0}/**/*.ts', vars.ACTIVE_VERSION), format('{0}/**/*.tsx', vars.ACTIVE_VERSION)) }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles(format('{0}/pnpm-lock.yaml', vars.ACTIVE_VERSION)) }}-
      
      - name: Install dependencies
        working-directory: ./${{ vars.ACTIVE_VERSION }}
        run: |
          pnpm install
            
      - name: Build Next.js app
        working-directory: ./${{ vars.ACTIVE_VERSION }}
        run: pnpm run build

      - name: Start Next.js app
        working-directory: ./${{ vars.ACTIVE_VERSION }}
        run: pnpm run start &

      - name: Take visual records
        id: capture
        uses: ashfordhill/puppeteer-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          url: 'http://localhost:3000'
          folder: '${{ vars.ACTIVE_VERSION }}/timeline'
          basename: 'screenshot'
          make_gif: 'true'
          gif_name: 'timeline.gif'
          frame_duration: '2'   # seconds per frame (1 = 1 fps). Use 0.083 for ~12 fps.
          scale_width: '640'
          auto_screenshots: 'false'

      - name: Commit visual records
        working-directory: ./${{ vars.ACTIVE_VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add -A
          if git diff --staged --quiet; then
            echo "No changes to commit, skipping commit step"
          else
            git commit -m "[ACTION] Update visual records"
            git push origin HEAD:${{ github.ref }}
          fi
